html, body {
    background: #212121;
    font-family: Snell Roundhand, cursive;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.body1 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*overflow: auto;*/

    align-items: center;
    justify-content: center;
}

/*.con-add {*/
/*    */
/*    position: relative;*/
/*    width: 300px;*/
/*    height: 200px;*/
/*    margin: 40px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.con-add::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    filter: blur(25px);*/
/*    transform: translateY(30px) scale(0.9);*/
/*}*/


.conreiner {
    background: url(img/IMG_0431.JPG);
    background-size: 500px;
    width: 400px;
    height: 600px;
    /*margin: 70px auto;*/
    /*box-shadow: 0px 0px 50px red;*/
    box-shadow: -20px -20px 50px rgb(0, 157, 255), 20px 20px 50px rgb(183, 0, 255);;
    /*background: linear-gradient(90deg, purple, green, hotpink);*/
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;


}




.horisontal {
    /*margin-bottom: 100px;*/
    text-shadow: 0px 0px 10px #1b00ff;
    text-align: center;
    font-size: 70px;
    color: #beddff;
}

.text-nane {
    margin: 30px 0px;
}
